body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'TT Lakes';
}

.mobile-menu {
	background-color: #ffffff;
	width: 320px;
	height: 1024px;
	box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
		-2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}

.mobile-menu--position {
	margin-left: 0;
}

.mobile-menu__header {
	display: flex;
}

.nav__button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	margin-top: 24px;
	margin-bottom: 24px;
}

.mobile-menu__close {
	margin-left: 24px;
	background-image: url(../img/close.svg);
	border: none;
}

.mobile-menu__close:active,
.mobile-menu__close:focus,
.mobile-menu__close:hover {
	cursor: pointer;
}

.mobile-menu__logo {
	margin-left: 16.73px;
	align-self: center;
	size: 100%;
}

.mobile-menu__logo:active,
.mobile-menu__logo:focus,
.mobile-menu__logo:hover {
	cursor: pointer;
}

.mobile-menu__search {
	margin-left: 78.27px;
	background-image: url(../img/search.svg);
	border: none;
}

.mobile-menu__search:active,
.mobile-menu__search:focus,
.mobile-menu__search:hover {
	cursor: pointer;
}

.mobile-menu-main {
	height: 90%;
	display: flex;
	flex-direction: column;
}

.mobile-menu-main--position {
	justify-content: space-between;
}

.mobile-menu-main__navigation ul{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 31.54px;
	gap: 2rem;
}

ul {
	list-style-type: none;
}

.mobile-menu-main__link {
	display: flex;
	margin-left: 24px;
	line-height: 24px;
	letter-spacing: -0.2px;
	align-items: center;
	text-decoration: none;
	color: black;
}

.mobile-menu-main__link:active,
.mobile-menu-main__link:checked {
	text-decoration: none;
	font-style: normal;

}

.mobile-menu-main__link:active,
.mobile-menu-main__link:focus,
.mobile-menu-main__link:hover {
	color: #7E7E82;
}

.mobile-menu-main__link:active {
	outline: none;
}

.mobile-menu-main__link:hover::before {
	position: absolute;
	left: 0px;
	display: inline-block;
	content: "";
	height: 32px;
	width: 4px;
	background-color: #41F6D7;
	border-radius: 0px 15px 15px 0px;
}

.mobile-menu-footer {
	display: flex;
	flex-direction: column;
	margin-left: 24px;
	width: 196px;
	justify-content: space-between;
}

.mobile-menu-footer__menu-button {
	display: flex;
}

.button-call {
	background-image: url(../img/call.svg);
}

.button-call:active,
.button-call:focus,
.button-call:hover {
	cursor: pointer;
}

.button-chat {
	background-image: url(../img/chat.svg);
}

.button-chat:active,
.button-chat:focus,
.button-chat:hover {
	cursor: pointer;
}

.button-profile {
	background-image: url(../img/profile.svg);
}

.button-profile:active,
.button-profile:focus,
.button-profile:hover {
	cursor: pointer;
}

.mobile-menu-footer__menu-button button { 
	margin: 0 16px 0 0;
	border:none;
}

.mobile-menu-footer a {
	color: black;
	text-decoration: none;
}

.mobile-menu-footer__contacts {
	display: flex;
	flex-direction: column;
}

.e-mail--position {
	font-size: 16px;
	line-height: 25px;
	letter-spacing: -0.2px;
	margin-top: 12px;
	height: 26px;
	width: 196px;
}

.phone-number--position {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.6px;
	margin-top: 12px;
	height: 32px;
	width: 196px;
}

.mobile-menu-footer__language {
	display: flex;
	width: 87px;
	height: 24px;
	justify-content: space-between;
	margin-top: 40px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2;
}

.mobile-menu-footer__language a {
	color: black;
	text-decoration: none;
}

.mobile-menu-footer__language a:active,
.mobile-menu-footer__language a:focus,
.mobile-menu-footer__language a:hover {
	color: #7E7E82;
	cursor: pointer;
}

@font-face {
	font-family: 'TT Lakes';
	src: url('TTLakes-Light.eot');
	src: local('TT Lakes Light'), local('TTLakes-Light'),
		url('TTLakes-Light.eot?#iefix') format('embedded-opentype'),
		url('TTLakes-Light.woff') format('woff'),
		url('TTLakes-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}